<!DOCTYPE html>
<html>
<head>
 
    <style>

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 20px;
            color: #333;
        }

        .barra_inicial
        {
            background-color: #1e90ff;
            color: white;
            padding: 15px 30px;
            border-radius: 8px;
            box-shadow: 0 3px 8px rgba(0,0,0,0.1);
            margin-bottom: 30px;
            text-align: center;
            position: relative;
            width: 100%;
            left: -18px;
            top: -20px;
        }

        .barra_inicial a 
        {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
        }

        h3.titulo 
        {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 24px;
            color: #1e90ff;
            position: relative;
            left: 10px;
        }

        p
        {
            font-size: 18px;
            color: black;
        }
    </style>
    <meta charset="utf-8" />
    <title>Notificador - Gestão de Medicamentos</title>
</head>
<body>

    <div class="barra_inicial">
        <div class="barras">
            <a href="/RequisicaoSaida/cadastrar">Notificador</a> <a href="/">Página Inicial</a>
        </div>

        <hr />
        <h1>Controle de Medicamentos</h1>
    </div>

    
    <h3 class="titulo"> Notificador </h3>

    <p>@ViewBag.Mensagem</p>
</body>
</html>