@using ControleDeMedicamentos.ConsoleApp.ModuloFuncionarios
@* O model serve para deixar explicito que as informações desta pagina vao enviar um (MODELO FUNCIONARIO) *@
@model Funcionario;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Funcionarios - Controle de Medicamentos </title>
</head>
<body>
    <h1> Controle de Medicamentos </h1>

    <h3> Fornecedores - Cadastro </h3>

    <form action="/fornecedor/cadastrar" method="post">

        <label> Nome do fornecedor: </label>
        <br />
        <input type="text" name="nome" />

        <br />
        <br />

        <label>  Telefone do fornecedor:  </label>
        <br />
        <input type="text" name="telefone" />

        <br />
        <br />

        <label>  CNPJ do fornecedor:  </label>
        <br />
        <input type="text" name="cnpj" />

        <br />
        <br />
        <p> <button> Salvar </button> <a href="/">  Voltar</a> </p>

    </form>
</body>
</html>