@using ControleDeMedicamentos.ConsoleApp.Models
@using ControleDeMedicamentos.ConsoleApp.ModuloFuncionarios

@model ExcluirFornecedorViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fornecedores - Controle de Medicamentos</title>
</head>
<body>
    <h1> Controle de Medicamentos </h1>

    <h3> Fornecedores - Exclusão</h3>
    <p> Tem certeza que deseja excluir o fornecedor @Model.Nome?</p>
    <p> opa</p>
    <p> bao</p>

    <form action="/fornecedor/excluir/@Model.Id" method="post">

        <button> Sim </button> <a href="/">  Voltar</a> </p>

    </form>
</body>
</html>

