@using ControleDeMedicamentos.ConsoleApp.ModuloFornecedor

@model List<Fornecedor>;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Controle de Medicamentos </title>
</head>
<body>
    <hr />
    <h3> <a href="/">  PaginaInicial </a> </h3>
    <h1> Controle de Medicamentos </h1>
    <hr />

    <h3> Fornecedores - Visualização</h3>


    <ul>
        @foreach (Fornecedor f in Model)
        {
            <li>
                @f.ToString() |
                <a href="/fornecedor/editar/@f.Id"> Editar </a> |
                <a href="/fornecedor/excluir/@f.Id"> Excluir </a>
            </li>
        }
    </ul>
</body>
</html>