@using ControleDeMedicamentos.ConsoleApp.ModuloFuncionarios
@{
    Funcionario f = ViewBag.Funcionario;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Funcionarios - Controle de Medicamentos </title>
</head>
<body>
    <h1> Controle de Medicamentos </h1>

    <h3> Funcionarios - Edição   </h3>

    <form action="/funcionario/editar/#id#" method="post">

        <label> Nome do funcionario: </label>
        <br />
        <input type="text" name="nome" value="@f.Nome" />

        <br />
        <br />

        <label>  Telefone do funcionario:  </label>
        <br />
        <input type="text" name="telefone" value="@f.Telefone" />

        <br />
        <br />

        <label>  CPF do funcionario:  </label>
        <br />
        <input type="text" name="cpf" value="@f.CPF"/>

        <br />
        <br />
        <p> <button> Salvar </button> <a href="/">  Voltar</a> </p>

    </form>
</body>
</html>